// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.avatar{
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
}

.hidden{
    display: none;
}

.show{
    display: block;
}